{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/confirm.css' %}">

</head>
<body>
<div style="padding-top: 30px;">
	<p style="text-align: center;font-family: 'Poppins', sans-serif;">Thank You for registering, we have sent a link to your email.Please confirm your email to complete the registration!</p>
	<h6 style="text-align: center;font-family: 'Dosis', sans-serif;text-decoration-line: none;">Click<a href="/accounts/login/" style="text-decoration: none;color: black;font-weight: 700;"> here</a> to return to login page!</h6>
</div>
</body>
</html>